<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--<settings>-->
        <!--<setting name="logImpl" value="STDOUT_LOGGING"/>-->
    <!--</settings>-->

    <typeAliases>
        <typeAlias type="me.BeForever.comment.model.Comment" alias="Comment"/>
        <typeAlias type="me.BeForever.guide.model.Guide" alias="Guide"/>
        <typeAlias type="me.BeForever.Information.model.Information" alias="Information"/>
        <typeAlias type="me.BeForever.log.model.Log" alias="Log"/>
        <typeAlias type="me.BeForever.user.model.User" alias="User"/>
    </typeAliases>

</configuration>